@charset "utf-8";
/* CSS Document */

/* The following code modified from code found at: 

- http://getskeleton.com/

*/


/* Skeleton Grid */

/* Modified for a fixed width design

- For educational use only

*/

.column,
.columns {
/*  width: 100%;*/
  float: left;
  box-sizing: border-box; }

.container {
   /* Change the width to fit your design */
    width: 960px;
  	padding: 10px 40px 30px 30px;
	  background-color: #fff;
	  border: 1px solid #000;	
	  margin: 0 auto 30px;
  }
.column,
.columns {
margin-left: 4%; }
.column:first-child,
.columns:first-child {
margin-left: 0; }

.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.one-half.column                { width: 48%; }

/* Offsets */
.offset-by-one.column,
.offset-by-one.columns          { margin-left: 8.66666666667%; }
.offset-by-two.column,
.offset-by-two.columns          { margin-left: 17.3333333333%; }
.offset-by-three.column,
.offset-by-three.columns        { margin-left: 26%;            }
.offset-by-four.column,
.offset-by-four.columns         { margin-left: 34.6666666667%; }
.offset-by-five.column,
.offset-by-five.columns         { margin-left: 43.3333333333%; }
.offset-by-six.column,
.offset-by-six.columns          { margin-left: 52%;            }
.offset-by-seven.column,
.offset-by-seven.columns        { margin-left: 60.6666666667%; }
.offset-by-eight.column,
.offset-by-eight.columns        { margin-left: 69.3333333333%; }
.offset-by-nine.column,
.offset-by-nine.columns         { margin-left: 78.0%;          }
.offset-by-ten.column,
.offset-by-ten.columns          { margin-left: 86.6666666667%; }
.offset-by-eleven.column,
.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

.offset-by-one-third.column,
.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
.offset-by-two-thirds.column,
.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

.offset-by-one-half.column,
.offset-by-one-half.columns     { margin-left: 52%; }

/* Clear floats */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Added by abbas*/

li.li-inline-block{
  display: inline-block;
  background-color: #0d87c9;
  /* width: 19%; */
  height: 40px;
  text-align: center;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul{
  padding-left: 0px;
}
nav a:visited{
  background-color: yellow;
}
nav a:hover{
  background-color: aqua;
}
nav a:active{
  background-color: beige;
}
nav a:focus{
  background-color: red;
}
nav ul{
  margin-bottom: 0;
}
nav a{
  line-height: 40px;
  text-decoration: none;
  font-size: 1.0rem;
  color: white;
}

.row{
  margin-top: 5px;
}

.three.columns ul{
  padding-left: 20px;
}
body {
	padding: 0;
	margin: 0;
	background-color: #0d87c9;
  font-family: tahoma, chicago, sans-serif;	
  background-image: url(../images/sunset-bg.jpg);
  background-attachment:fixed;
  background-size: 1500px 1000px;
  background-repeat: no-repeat;
  background-position: center 0; 
}

img {
	max-width: 100%;
	height: auto;
}

footer{
  float: left;
  text-align: center;
  border-top-style: dashed;
  border-top: 1px dashed rgb(0, 162, 255);
  margin-top: 30px;
  padding-top: 20px;
}

section article{
  background-color: rgb(240, 236, 236);
  border: 1px dashed black;
  margin-bottom: 10px;
  padding: 10px 10px 20px 10px;
}

article ul{
  list-style: none;
  padding: 0;
}
article h2 {
  font-size: 15px;
}

.columns h1{
  font-size: 20px;
}

article.three.columns li{
margin-bottom: 15px;
padding-bottom: 15px;
border-bottom: 1px dashed rgb(0, 162, 255);
}


article.three.columns a{
  color: rgb(0, 162, 255);
  text-decoration: none;
  font-size: 15px;
}

article.three.columns ul{
  padding: 0px 5px 5px 0;
}

article.three.columns li{
  padding: 0px 5px 5px 0;
}

article.three.columns p{
  padding: 5px 5px 5px 0;
  margin: 0 0 0 0;
  color: rgb(0, 162, 255);
}
section.six.columns article h1{
  margin-top: 0;
}

.six.columns a{
  font-size: 17px;
  color: blue;
}

aside.four.columns{
  float:right;
  border: 2px solid black;
  background: #fff;
  padding: 5px;
}

figure { 
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0em;
  margin-left: 0px;
  margin-right: 40px;
}